.avatar{
    display: block;
    width: 120px;
    height: 120px;
    border-radius: 50%;

    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.tabela{
    margin-top: 20px;
}

.tabela-tamanho-fonte{
    font-size: 11px;
}

.tabela-tamanho-cabecalho-font{
    font-size: 14px;
}

.tabela-tamanho{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.tabela-cabecalho-cor{
    background-color: rgb(163, 161, 161);
}

.centralizar{
    text-align: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.bio-titulo-fonte{
    font-size: 14px;
}

.bio-fonte{
    font-size: 13px;
}

p{
    margin: 0px;
}
